.bx-wrapper{
    min-width: 100% !important;
}

.bx-wrapper .bx-viewport {
    left: 0px !important;
}

.bx-wrapper .bx-controls-direction > .bx-next {
    width: 21px;
    height: 27px;
    margin-right: -20px;
    background-size:cover;
    z-index: 0;
}

.bx-wrapper .bx-controls-direction > .bx-prev {
    width: 21px;
    height: 27px;
    margin-left: -20px;
    background-size:cover;
    z-index: 0;
}

.bx-wrapper .bx-viewport {
    box-shadow: 0px 0px 0px white;
    border: 0px none;
    background: 0%;
    padding: 10px 0px;
}

.boxGrey-cariProduk{
    border: 1px solid #A3DDF2;
    padding-bottom: 10px;
    height: 310px;
    border-radius: 10px;
    padding-top: 10px;
}

.cartBox-produkLain{
    background-color: #007E43;
    color: #FFF;
    width: 30%;
    font-weight: bold;
    border-radius: 3px 0px 0px 3px;
    padding-top: 5px;
    padding-left: 5px;
    height: 25px;
    float: left;
}

.bx-wrapper {
    margin: 0px auto 0px;
}

.perbesar {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    z-index: 999;
    border-radius: 10px;
}

.perbesar.active {
    display: block;
}

.bxSlide-edit{
    margin-right: 4px !important;
    margin-left: 4px !important;
    width: 236px !important;
}

.bxSlide1-edit{
    margin-right: 10px !important;
    margin-left: 0px !important;
    width: 975px !important;

}

.fotoProdukIndex img{
    height: 210px;
    border-radius: 10px;
    padding-left: 15px;
}

.fotoProdukLain-perbesar{
    width: 100%;
    height: 186px;
    border: 1px solid #A3DDF2;
    border-bottom: 0px none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.namaProduk-perbesar{
    border: 1px solid #A3DDF2;
    border-top: 0px none;
    border-bottom: 0px none;
}

.produkHarga-perbesar{
    border: 1px solid #A3DDF2;
    border-top: 0px none;
    border-bottom: 0px none;
}

.fotoProdukLain-perbesar img{
    height: 100%;
    width: auto;
    padding-left: 23px;

}

.starWishlist-produk{
    height: 18px;
    float: left;
}

.button-wishlist{
    background-color: #8B8B8C;
    color: #FFF;
    width: 100%;
    font-weight: bold;
    font-size: 13px;
    height: 30px;
    float: left;
    padding-right: 13px;
}

.button-wishlist:hover{
    background-color: #818080;
}

.button-compare{
    background-color: #8B8B8C;
}

.raisedButton-compare, .raisedButton-compare:focus {
    box-shadow: 0 5px 0 0 #757475;
    border-radius: 0px;
}

.boxCompareMargin{
    margin-top: 10px;
}

.boxCompareBorder{
    border-right: 1px solid white;
}

@media (max-width:1200px) {

    .bxSlide-edit{
        width: 233px !important;
    }

    .bx-wrapper .bx-controls-direction > .bx-next {
        width: 21px;
        height: 27px;
        margin-right: -20px;
        background-size:cover;
        z-index: 0;
    }

    .bx-wrapper .bx-controls-direction > .bx-prev {
        width: 21px;
        height: 27px;
        margin-left: -25px;
        background-size:cover;
        z-index: 0;
    }

    .bxSlide1-edit{
        margin-right: 10px !important;
        margin-left: 0px !important;
        width: 960px !important;

    }

}

@media (max-width:992px) {
    .bx-wrapper .bx-controls-direction > .bx-next {
        width: 21px;
        height: 27px;
        margin-right: -25px;
        background-size:cover;
        z-index: 0;
    }

    .bx-wrapper .bx-controls-direction > .bx-prev {
        width: 21px;
        height: 27px;
        margin-left: -25px;
        background-size:cover;
        z-index: 0;
    }

    .bx-wrapper .bx-viewport {
        height: 400px;
    }



    .bxSlide1-edit{
        margin-right: 10px !important;
        margin-left: 0px !important;
        width: 740px !important;
        height: 400px !important;
    }



}

@media (max-width:768px) {
    .bx-wrapper .bx-controls-direction > .bx-next {
        width: 21px;
        height: 27px;
        margin-right: -10px;
        background-size:cover;
        z-index: 0;
    }

    .bx-wrapper .bx-controls-direction > .bx-prev {
        width: 21px;
        height: 27px;
        margin-left: -10px;
        background-size:cover;
        z-index: 0;
    }

    .perbesar {
        position: absolute !important;
    }

    .produkLain-barang {
        padding: 0px 20px;
    }

}