/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 18, 2016, 11:01:25 PM
    Author     : Arif
*/

@font-face {
    font-family: RobobotoCondensed-Regular;
    src: url(../../fonts/RobobotoCondensed/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: RobobotoCondensed-Bold;
    src: url(../../fonts/RobobotoCondensed/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: Oswald-DemiBold;
    src: url(../../fonts/Oswald/Oswald-DemiBold.ttf);
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url(../../fonts/SourceSansPro/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: SourceSansPro-Bold;
    src: url(../../fonts/SourceSansPro/SourceSansPro-Bold.otf);
}

.font-RobobotoCondensed{
    font-family: RobobotoCondensed-Regular;
}

.font-RobobotoCondensed-bold{
    font-family: RobobotoCondensed-Bold;
}

.font-oswald-demiBold{
    font-family: Oswald-DemiBold;
}

.font-sourceSansPro{
    font-family: SourceSansPro-Regular;
}

.font-sourceSansProBold{
    font-family: SourceSansPro-Bold;
}

.red{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid red;
}

.flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    align-items: center;
    justify-content: center;
}

.center{
    text-align: center;
}


.fit-screen{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.boxOut-middleLogin{
    height: calc(100% - 45px);
    min-height: 580px;
    background-image: url('../../img/icon/background-middleLogin.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat !important;
    border-top: 15px solid #EC3237;
}

.boxOut-bottomLogin{
    height: 45px;
    background-color: #EC3237;
    color: white;
    font-size: 12px;
}

.boxOut-bottomLogin > .col-md-12{
    height: 100%;
}

.box-topShadow{
    height: 45px;
    background-image: url('../../img/icon/shadow-top.png');
    background-size: 100% 100%;
    background-repeat: no-repeat !important;
    position: absolute;
}

.box-middleContent{
    height: calc(100% - 0px);
    min-height: calc(100% - 0px);
}


.boxOut-loginContent{
    width: 333px;
    background-color: white;
    border-radius: 6px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.box-textTitle{
    color: #ED3237;
    font-size: 17px;
    line-height: 17px;
}

.box-littleTitle{
    color: #606062;
    font-size: 10px;
}

.boxOut-user{
/*    padding-left: 65px;
    padding-right: 65px;*/
}

.login-logo{
    margin-bottom: 40px;
}

.login-logo img{
    width: 100%;
}










.input-group-addon {
    padding: 10px 8px 0px 6px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px !important;
}

.box-username{
    margin-top: 10px;
}

.box-email{
    margin-top: 25px;
    display: none;
}

.form-control, .form-group .form-control{
    background-image: linear-gradient(#E62129, #E62129), linear-gradient(#C9CACA, #C9CACA) !important;
}

.form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
    top: -7px;
    font-size: 14px;
    line-height: 30px;
    padding-left: 10px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
}

.input-username{
    color: #96989A !important;
    width: 100% !important;
    //margin-left: -27px;
    padding-left: 10px;
    font-size: 16px;
    padding-top: 10px;
}

.form-group.label-static label.control-label, .form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label {
    left: 0px !important;
    top: -22px !important;
    font-size: 12px !important;
}

.label-edit{
    color: #E62129 !important;
    font-size: 16px !important;
    padding-bottom: 15px;
}

.boxOut-paddingField{
    padding-left: 5px;
}

.box-imgUsername{
    height: 40px;
}

.box-imgUsername img{
    width: 11px;
    height: 13px;
    bottom: 0;
    position: absolute;
}

.box-imgPassword{
    height: 40px;
}

.box-imgPassword img{
    width: 10px;
    height: 13px;
    bottom: 0;
    position: absolute;
}

.box-imgEmail{
    height: 40px;
}

.box-imgEmail img{
    width: 13px;
    height: 10px;
    bottom: 0;
    position: absolute;
}

.form-group .form-control {
    margin-bottom: 0px !important;
}

.label-floating{
    margin: 10px 0 0 0 !important;
}

.boxCheckBox{
    //margin-top: 5px;
}

.edit-checbox{
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 12%;
}

.boxCheckBox label{
    font-size: 10px;
    color: #96989A;
    margin-top: 0px;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 9px;
    height: 9px;
    left: 0;
    margin-left: -13px;
    margin-top: 2px;
    border: 1px solid #96989A;
    border-radius: 2px;
    background-color: transparent;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; 
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 9px;
    height: 9px;
    left: 0;
    top: 0;
    margin-left: -15px;
    margin-top: 1px;
    padding-left: 2px;
    padding-top: 0px;
    font-size: 8px;
    color: #E62129;
}

.box-lupaPassword{
    font-size: 10px;
    text-align: right;
    padding-right: 5px;
}

.box-lupaPassword a{
    color: #96989A;
}

.box-lupaPassword a:hover{
    color: #574A48;
}

.box-login{
    font-size: 10px;
    text-align: right;
    padding-right: 5px;
    display: none;
}

.box-login a{
    color: #96989A;
}

.box-login a:hover{
    color: #574A48;
}

.boxOut-checkBox{
    margin-bottom: 15px;
}

.box-peringatan img{
    width: 25px;
    height: 25px;
}

.box-textPeringatan{
    text-align: justify;
    color: #332C2B;
    font-size: 9.5px;
}

.box-textSukses {
    color: #39B166;
    font-size: 12px;
}



.button-login{
    margin: 0px;
    background-color: #E62129;
    color: white !important;
    width: 100%;
    font-size: 18px;
    height: 35px;
    border-radius: 20px;
    padding: 0px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
}

.button-login:hover, .button-login:focus{
    background-color: #BF1B20 !important;
}

.boxOut-loginFooter{
    /*    position: absolute;
        bottom: 0;*/
    padding-left: 10px;
    padding-right: 10px;
    height: 20%;
}

.login-upFooter img{
    width: 100%;
}

.login-downFooter img{
    width: 100%;
}

.box-textLoginFooter{
    color: white;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.body-background{
    max-width: 100% !important;

}

html,body{
    height:100%;
}

.carousel{
    height: 100%;
}

.edit-carousel{
    height: 100%;
}

.boxOut-copyright{
    padding: 0px 20px;
}

.boxOut-peringatan{
    margin-top: 10px;
}







@media (max-width:1200px) {

}

@media (max-width:992px) {
    .boxOut-bottomLogin{
        font-size: 11px;
        /*        padding-left: 10px;
                padding-right: 10px;*/
    }

    .input-username{
        color: #96989A !important;
    }
}


@media (max-width:768px) {
    body {
        margin: auto;
        max-width: none;
        min-width: 0px;
        position: relative;
    }  

    .boxOut-loginCanvas {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .box-loginCanvas {
        width: 100%;
        float: none;
        height: 100%;
        background-color: rgba(47, 49, 139, 0.92);
        position: relative;
    }

    .logo-loginVisit img {
        width: 170px;
        padding-right: 20px;
    }

    .boxOut-loginUp {
        padding-left: 50px;
        padding-right: 30px;
        //padding-top: 50px;
        height: 80%;
    }

    .input-username{
        color: #96989A !important;
        width: 100% !important;
        margin-left: -20px;
        padding-left: 30px;
        font-size: 14px;
        padding-top: 15px;
    }

    .edit-checbox{
        padding-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 23px;;
    }

    .box-lupaPassword{
        padding-right: 20px;
    }

    .box-textPeringatan{
        padding-right: 20px;
    }

    .box-buttonLogin{
        padding-right: 20px;
    }

    .boxOut-bottomLogin{
        /*        font-size: 9px;
                padding-left: 20px;
                padding-right: 20px;*/
    }

    .box-textPeringatan{
        font-size: 8px;
    }

    .input-username{
        color: #96989A !important;
    }

}